AWS_ACCESS_KEY_ID=<your-access-key>
AWS_SECRET_ACCESS_KEY=<your-secret-key>
S3_ENDPOINT=<your-s3-endpoint>
S3_BUCKET_NAME=<your-bucket-name>
S3_DATASET_KEY=cropdata.csv
S3_MODEL_KEY=move-it/model.joblib

# Vayu MLflow
# Format: https://username:password@tracking-url
MLFLOW_TRACKING_URI=https://username:password@tracking-url

# Vayu Kafka
KAFKA_BROKER=<your-kafka-broker-url>
KAFKA_USER=<your-kafka-user>
KAFKA_PASS=<your-kafka-password>
KAFKA_TOPIC=greenhouse_telemetry